* {
  padding: 0;
  margin: 0;
}

/* signup and Login */

.bg_signlogin {
  background-image: url("../public/images/tree-736877_1920.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-signin {
  background-image: url("../public/images/tree-736877_1920_copy.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.signup-input {
  padding: 8px 5px !important;
  background: #333333;
  border: 1px solid transparent;
  width: 100%;
  border-radius: 3px;
  transition: all 0.5s;
  color: #fff;
}

.signup-input:hover {
  transform: scale(1.05);
}

.signup-button {
  width: 100%;
  padding: 10px 0px;
  border-radius: 3px;
  background-color: #000;
  color: #fff;
  border: 1px solid #333333;
  transition: all 0.5s;
  letter-spacing: 3px;
}

.signup-button:hover {
  background-color: #333333;
  transform: scale(1.05);
}

.c-a-account {
  color: #fff;
  text-align: center;
}

.no-acct {
  text-align: center;
  color: #fff;
  font-weight: 700;
  transition: all 0.5s;
  cursor: pointer;
}
.no-acct:hover {
  text-decoration: underline;
  transform: scale(1.05);
}

.maininput-div {
  /* background-color: #000; */
  height: 100vh;
  align-items: flex-end;
  background-image: url("/public/images/sunset-7865844_1280.jpg");
  display: flex;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;

}

.main-input {
  width: 100%;
  background: transparent;
  border-radius: 10px;
  border: 1px solid #000;
  background-image: linear-gradient(160deg, #000, transparent);
}
.input-pu {
  width: 90%;
}

.butt-on {
  width: 10%;
  border: none;
  background-color: #000;
  color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sendicon {
  width: 50px;
  height: 50px;
}

.input-pu {
  border: 1px solid transparent !important;
  background-color: transparent;
  color: #fff;
  padding-left: 5px;

}

.input-pu:focus-visible {
  outline: unset;
}
